#drum-machine{
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}

.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.drum-pad{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#display{
  height: 20px;
  width: 120px;
  border: 2px solid black;
  margin-right: 10px;
  grid-column: 3;
}
